<!--Main-->

  <section id="main">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/bl1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/bl2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/bl3.jpg" alt="Third slide">
          </div>
          <div class="overlay">
            <div class="container">
              <div class="row aling-items-center">
                <div class="col-md-4 offset- text-left">
                  <h1>BERRY LOVE</h1>
                </div>
              </div>
              <div class="row aling-items-center">
                  <div class="col-md-4 offset- text-md-left text-center">
                    <P class="d-md-block">
                      Recuerdos invaluables para momentos especiales.
                    </P>
                    <a href="#place-time " class="btn btn-outline-light">Quiero conocer m치s</a>
                    <button type="button" class="btn btn-Platzi" data-toggle="modal" data-target="#modalCompra">Conseguirlo ya</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<!--/Main-->

<!--Speakers-->
    <section id="speakers" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-upercase">
            <small>Conoce al TEAM de</small>
            <h2>Berry Love</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="/img/blperfil.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Michelle Sanchez CEO</h5>
                <p class="card-text">Hola, gracias por visitarnos. Soy la CEO de Berry
                  Love y estoy dispuesta a siempre ayudarte a conseguir el detalle perfecto 
                  para ti y tus seres queridos, contactame para asessorarte personalmente
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/KelerAndres12">Conoce m치s</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Speakers-->   

<!--Servicios-->
    <section id="place-time" class="mt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block">
            <img src="/img/bla.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4">
            <h3 class="text-center">BERRY LOVE</h3>
            <h3 class="text-center">GIA DE COMO COMPRAR</h3>
            <h6 class="d-none d-md-block">texto</h6>
            <h6 class="d-none d-md-block">texto</h6>
            <h6 class="d-none d-md-block">texto</h6>
            <a class="btn btn-outline-light offset-5" href="https://www.facebook.com/theskyisthelimitpro/">Conoce m치s</a>
          </div>
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block mt-4">
            <img src="/img/blb.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4 ">
            <h3 class="text-center">NUESTRA POLITICA<h3>
            <h6 class="d-none d-md-block"> TEXTO 2.</h6>
            <a class="btn btn-outline-light offset-5" href="https://www.facebook.com/alumicarhydropaint/">Conoce m치s</a>
          </div>
        </div>
      </div>
    </section>

<!--/Servicios-->


<!--/Footer-->

